<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <p><span style="font-size: 12pt; font-family: 굴림, gulim;">﻿안녕하세요~ 성동구1인가구지원센터입니다 :)</span>&nbsp;</p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">&nbsp;</span></p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">올 여름 비가 정말 많이 왔는데요, 피해 입으신 분들도 많으실 것 같습니다ㅠㅠ</span>
    </p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">기록적인 폭우를 지켜보며 저희 성동구1인가구지원센터에서는 수해를 입은 1인가구를 위해, 혹은 재난에 취약할 수 있는 1인가구를 위해 무엇을 할 수 있을지 고민해보았습니다.</span></p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">&nbsp;
    </span></p><p><span style="font-size: 12pt; font-family: 굴림, gulim;"><b>​[1인가구 재난대응 이렇게 합시다!]</b>&nbsp;</span></p><p><span style="font-family: 굴림, gulim; font-size: 12pt;">​기후위기시대!</span>&nbsp;</p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">
        어떠한 일이 닥칠지 모르는 불안함에서 1인가구 여러분들이 스스로를 지킬 수 있도록 성동구1인가구지원센터 개소기념 오픈클래스로 '재난대응교육'을 준비했습니다^_^&nbsp;</span></p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">온/오프라인 동시에 진행 예정이니, 많은 분들이 오셔서 함께해주셨으면 좋겠습니다♡
        </span></p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">&nbsp;</span></p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">성동구1인가구지원센터는 1인가구 여러분들의 혼자서도 안전한 생활을 응원합니다!</span></p><p><span style="font-size: 12pt; font-family: 굴림, gulim;">&nbsp;</span></p><p>
        <span style="font-size: 12pt; font-family: 굴림, gulim;">신청링크 :&nbsp;<a href="https://forms.gle/12BZ6t1qBn7huNmNA" target="_self"><span style="color: rgb(255, 0, 0);">https://forms.gle/12BZ6t1qBn7huNmNA</span></a></span></p><p><span style="font-size: 12pt;">문의 : 02-2281-7716 김나연</span></p>
        <p><span style="font-size: 12pt;"><img src="/contents/commoneditor/20220818194713a1aec69f-3932-4e08-bffe-68eecd7de7e6.jpg " title="%EA%B0%9C%EC%86%8C%EA%B8%B0%EB%85%90%20%EC%98%A4%ED%94%88%ED%81%B4%EB%9E%98%EC%8A%A4%20(%EC%9E%AC%EB%82%9C%EB%8C%80%EC%9D%91)%20%ED%99%8D%EB%B3%B4%EC%A7%80%20%EC%88%98%EC%A0%95(2).jpg"><br style="clear:both;">&nbsp;</span></p> 



            
















</body>
</html>